---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import "dayjs/locale/zh-cn";
// import IconCalendar from "@/assets/icons/IconCalendar.svg";
import { SITE } from "@/config";

dayjs.extend(utc);
dayjs.extend(timezone);
dayjs.locale("zh-cn");

type Props = {
  class?: string;
  size?: "sm" | "lg";
  pubDatetime: string | Date;
  timezone?: string;
  modDatetime?: string | Date | null;
};

const {
  pubDatetime,
  modDatetime,
  size = "sm",
  class: className = "",
  timezone: postTimezone,
} = Astro.props;

function getSmartDate(date: string | Date, tz?: string) {
  const target = dayjs(date).tz(tz || SITE.timezone);
  const now = dayjs().tz(tz || SITE.timezone);

  if (!target.isValid()) return "无效日期";

  const diffDays = target.startOf("day").diff(now.startOf("day"), "day");
  const diffYears = target.year() - now.year();
  const timeStr = target.format("HH:mm");

  if (diffDays === 0) {
    const diffMinutes = Math.floor(now.diff(target, "minute", true));
    if (diffMinutes >= 0 && diffMinutes < 1) return "刚刚";
    if (diffMinutes >= 1 && diffMinutes < 60) return `${diffMinutes}分钟前`;
  }

  if (diffDays === 0) return `今天 ${timeStr}`;
  if (diffDays === -1) return `昨天 ${timeStr}`;
  if (diffDays === -2) return `前天 ${timeStr}`;
  if (diffDays === 1) return `明天 ${timeStr}`;
  if (diffDays === 2) return `后天 ${timeStr}`;

  const dateStr = target.format("M月D日");

  if (diffYears === 0) return `${dateStr} ${timeStr}`;
  if (diffYears === 1) return `明年${dateStr}`;
  if (diffYears === -1) return `去年${dateStr}`;

  return target.format("YYYY年M月D日");
}

/* ========== Formatted Datetime ========== */
const pubTzDatetime = dayjs(pubDatetime).tz(postTimezone || SITE.timezone);
const modTzDatetime = modDatetime
  ? dayjs(modDatetime).tz(postTimezone || SITE.timezone)
  : null;

const isModified = modTzDatetime ? modTzDatetime.isAfter(pubTzDatetime) : false;

const pubFallbackDate = getSmartDate(pubDatetime, postTimezone);
const pubIsoDatetime = pubTzDatetime.toISOString();

let modIsoDatetime = "";
let modFallbackDate = "";

if (isModified && modTzDatetime) {
  modFallbackDate = getSmartDate(modDatetime!, postTimezone);
  modIsoDatetime = modTzDatetime.toISOString();
}
---

<div class:list={["flex items-center gap-x-2 opacity-80", className]}>
  <!-- <IconCalendar
    class:list={[
      "inline-block size-6 min-w-5.5",
      { "scale-90": size === "sm" },
    ]}
  /> -->

  <time
    datetime={pubIsoDatetime}
    class:list={["text-sm", { "sm:text-base": size === "lg" }]}
  >
    {pubFallbackDate}
  </time>

  {
    isModified && (
      <span class:list={["text-sm", { "sm:text-base": size === "lg" }]}>
        (修订: <time datetime={modIsoDatetime}>{modFallbackDate}</time>)
      </span>
    )
  }
</div>
